<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
	<title>c</title>
	<!-- Use require js to organize scripts in the future -->
	<link type="text/css" rel="stylesheet" href="style.css" /> 
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
	<script src="http://backbonejs.org/backbone-min.js"></script>​
	<script type="text/javascript" src="scripts/blackjack.js"></script>

</head>
<body>
	<h1>A Simple Blackjack Game</h1>
	<div class="mainApp">
	</div>
</body>

	<!-- Underscore Template -->
	<script type="text/template" id="game-template">

		<div class ="buttons">
			<button class="hit">Hit</button>
			<button class="stand">Stand</button>
		</div>
	</script>
	
	<script type="text/template" id="card-template">
		<img src="<%= src %>" />
	</script>
	<script type="text/template" id="player-template">
		<h3 ><%= name %></h3>
		<span><%= score %></span>
		<span class="status"><%= status%></span>

	</script>
</html>